<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Gate management System</title>
  </head>
  <body>
    {% block content%} {%{% endblock %}%}
  </body>
</html>
