<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Gate1</title>
    <style>
      h1 {
        font-weight: 150;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      h2 {
        font-weight: 100;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      body {
        background-color: aquamarine;
        text-align: center;
        margin-top: 200px;
      }
      form {
        border: 1px solid gray;
        border-radius: 6px;
        margin: 0 auto;
        width: 360px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <form action="/submit">
        <div class="container">
          <h1>Fill-In The Form Below:</h1>
          <div>
            <label for="Name">Name:</label><br />
            <input
              type="text"
              id="Name"
              name="text"
              placeholder="name"
              required
            /><br />
            <label for="id_number">Id Number:</label><br />
            <input
              type="text"
              id="id_number"
              name="text"
              placeholder="id number"
              required
            /><br />
            <label for="no.">Number of People Registrered Under you??</label
            ><br />
            <input
              type="number"
              id="no."
              name="number"
              placeholder="Register??"
              required
            /><br />
            <label for="rel">Relationship</label><br />
            <select id="rel" name="rel" required>
              <option value="">Select from the list:</option>
              <option value="Family">Family</option>
              <option value="Friend">Friend</option>
              <option value="Coulegue">Coulegue</option>
              <option value="Students">Students</option>
              <option value="Church">Church</option>
            </select>
            <br /><br />
            <button onclick="location.href='{% url 'face_scan'%}'">
              Submit
            </button>
            <button onclick="location.href='{% url 'home' %}'">Back</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
