<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <link rel="stylesheet" href="main.css" />
    <title>Gate2</title>
    <style>
      h1 {
        font-weight: 150;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      h2 {
        font-weight: 100;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      body {
        background-color: aquamarine;
        text-align: center;
        margin-top: 150px;
      }
      form {
        border: 1px solid gray;
        border-radius: 6px;
        margin: 0 auto;
        width: 350px;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <form action="/submit">
        <div class="container">
          <h1>Fill-In The Form Below:</h1>
          <div>
            <p>Name</p>
            <input type="text" name="text" placeholder="name" required />
            <p>Id number</p>
            <input type="text" name="text" placeholder="id number" required />
            <p>Car Number Plate</p>
            <input
              type="text"
              name="text"
              placeholder="Number Plate"
              required
            />
            <p>Number of People Registrered Under you??</p>
            <input
              type="number"
              name="number"
              placeholder="Register??"
              required
            />
            <p>Relationship</p>
            <input
              type="text"
              name="text"
              placeholder="relatioship"
              required
            /><br /><br />
            <button onclick="location.href='{% url 'n_plate_scan'%}'">
              Submit
            </button>
            <button onclick="location.href='{% url 'home' %}'">Back</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
