<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Gate management System</title>
    <style>
      h1 {
        font-weight: 150;
        font-size: 1.2em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      h2 {
        font-weight: 100;
        font-size: 0.9em;
        font-family: Arial, Helvetica, sans-serif;
        color: blueviolet;
      }
      body {
        background-color: aquamarine;
        text-align: center;
        margin-top: 200px;
      }
      {% comment %} form {
        margin: 0 auto;
        border: 1px solid gray;
        border-radius: 5px;
        width: 300px;
      } {% endcomment %}
      .container {
        position: center;
      }
      .content p {
        font-family: Helvetica;
        fonr-size: 17px;
      }
      .content button {
        background: gray;
        color: bisque;
        font-family: Arial;
        font-size: 15px;
        border: 2px solid gray;
        border-radius: 4px;
      }
      .content button :hover {
        background-color: #f7c7c7;
        color: black;
      }
    </style>
  </head>
  <body>
    <div id="header">
      <div class="container">
        <h1>Welcome!!</h1>
        <h2>Register to Login.</h2>
        <div class="content">
          <p>Using Small Door</p>
          <button onclick="location.href='{% url 'register_gate1' %}'">
            Register
          </button>
          <button>Already Registered</button>
          <p>Using Main Gate</p>
          <button onclick="location.href='{% url 'register_gate2'%}'">
            Register
          </button>
          <button>Already Registered</button>
        </div>
      </div>
    </div>
  </body>
</html>
